.dashboard-container {

  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.mds-plots-container {
  display: flex;
  grid-row: 1;
  gap: 10px;
  margin-left: 100px;
}

.mds-plot {
  flex: 1;

}

.pcp-plots-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2; 
  gap: 10px;
}

.pcp-plot {
  flex: 1;

}

.radar-plot-container {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  gap: 10px;
}

.radar {
  flex: 1;
}

.radar td:nth-child(2), .radar th:nth-child(2) {
  border-left: 1px solid black;
}

.radar tr {
  border-bottom: 1px solid black;
}

.radar tbody tr:nth-child(even) {
  background-color: var(--bg-20);
}

.radar tbody tr:nth-child(odd) {
  background-color: var(--bg-10);
}
